.type-filters {
    &__loader {
        margin-left: 10px !important;
        margin-top: 5px !important;
    }

    &__filter {
        padding: 0 20px 20px 0;
    }

    &__label {
        font-size: 16px !important;

        &::first-letter {
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid yellow;
        }

        label {
            line-height: 25px;
            color: #8D8E8E !important;

            &::before {
                content: '';
                top: 5px !important;
            }
        }
    }
}