@import './_variables.scss';

body {
    font-family: $font-family;
}

.app {
    display: flex;

    &__filter-container {
        background-color: #1B1C1D;
        position: fixed;
        width: 220px;
        color: #8D8E8E;
        padding: 10px;
        height: 100%;
        overflow-y: scroll;
    }

    &__params-grid-container {
        margin-left: 220px;
    }
}